CLOUD_NAME=your_cloudinary_cloud_name
CLOUD_API_KEY=your_cloudinary_api_key
CLOUD_API_SECRET=your_cloudinary_api_secret

MAP_TOKEN=your_mapbox_token

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
OAUTH_CALLBACK_HOST=http://localhost:8080

# MongoDB Configuration
MONGODB_URL=mongodb://your_admin:your_password@localhost:27017
MONGODB_USERNAME=your_admin
MONGODB_PASSWORD=your_password

SECRET=your_session_secret
